<!-- <ul class="flex-box">
  <% @tasks.each do |task| %>
    <li>
    <div class="card">
      <strong><%= link_to task.name, task_path(task) %></strong>
      <p><%= task.description %></p>
      <%= link_to "Edit", edit_task_path(task)%>
      -
      <%= link_to "Delete", task_path(task),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
      </li>
    </div>
  <% end %>
</ul> -->



<div class='list animated tada'>
  <h1>
    Todo
    <a class='add' href='<%= new_task_path %>'>
      <div class='fa fa-plus'></div>
    </a>
  </h1>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <a href='<%= task_path(task) %>' data-confirm="Are you sure?" data-method="delete">
          <div class='fa fa-check'>
          </div>
        </a>
        <!-- <strong><%= link_to task.name, task_path(task) %></strong> -->
        <strong><%= task.name %></strong>
        <%= task.description %>
      </li>
    <% end %>
  </ul>
</div>
